nav {
    color: white;
}

nav ul {
    list-style: none;
    padding-left: 25px;
}

nav ul li {
    text-align: center;
    padding: 20px;
    background: #02B4F9;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 1px 1px 1px white;
}

nav ul li:hover {
    background: var(--light-gradient);
}

nav ul li:nth-child(2) {
    margin-top: 10px;
}
