:root{
  --light-gradient: linear-gradient(#02B4F9,#1BE6BA);
  --dark-gradient: linear-gradient(#000607, #005868);
}

*{
  margin: 0;
  padding: 0;
}

body{
  background: var(--dark-gradient);
  background-repeat: no-repeat;
  height: 100vh;
  padding: 10px;
}

.d-none{
  display: none;
}
