#tableParent {
    height: 450px;
    overflow: scroll;
    overflow-x: hidden;
    box-shadow: 2px 2px 2px #1BE6BA;
}

table {
    color: white;
    text-align: center;
    width: 100%;
    font-family: "Roboto";
}

th {
    padding: 10px;
    background-color: rgba(255, 255, 255, 1);
    color: black;
    margin: 0;
    font-size: 17px;
    position: sticky;
    top: 0;
    border-radius: 10px;
}

td {
    padding: 8px;
}